<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout }">

<body>

<th:block layout:fragment="poststyle">
    <!--    <link rel="stylesheet" type="text/css" media="all" href="../../../webapp/css/bootstrap.min2.css"/> -->
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div>
            <div>
                <a  class="btn btn-primary"  th:href="@{/users/new}" th:text="#{btn.user.new}">Add New User</span></a>
            </div>

            <div>
                <h1 class="well" th:text="#{btn.user.find}">Find Users</h1>
            </div>


            <div>
                <span class="alert-warning" th:text="${msg}">>
                </span>
            </div>
        </div>

        <div class="col-lg-12 well">
            <div class="row">

                <form th:object="${user}" th:action="@{/users}" method="post"
                      id="search-user-form">

                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-4 form-group has-feedback">
                                <input th:replace="~{fragments/inputField :: input ('Фамилия', 'lastName', 'text')}" />
                            </div>
                            <div class="col-sm-4 form-group has-feedback">
                                <input th:replace="~{fragments/inputField :: input ('Имя', 'firstName', 'text')}" />
                            </div>
                            <div class="col-sm-4 form-group has-feedback">
                                <input th:replace="~{fragments/inputField :: input ('Отчество', 'patronymicName', 'text')}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group has-feedback">
                                <input th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group has-feedback">
                                <button type="submit" class="btn btn-primary" th:text="#{btn.user.find}">Find user</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
