<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout }">

<body>

<th:block layout:fragment="poststyle">
    <!--    <link rel="stylesheet" type="text/css" media="all" href="../../../webapp/css/bootstrap.min2.css"/> -->
</th:block>

<div layout:fragment="content">
  
  
    <h2>user Information</h2>
  
  
    <table class="table table-striped" th:object="${user}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{lastName + ' ' + firstName+ ' ' + patronymicName}"></b></td>
      </tr>
      <tr>
        <th>email</th>
        <td th:text="*{email}" /></td>
      </tr>
      <tr>
        <th>Департамент</th>
        <td th:text="*{company}" /></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td th:text="*{phone}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${user.id})}" class="btn btn-default">Edit
      user</a>
    <a th:href="@{{id}/logins/new(id=${user.id})}" class="btn btn-default">Add
      New Login</a>
  
    <br />
    <br />
    <br />
    <h2>Logins and Groups</h2>
<!--
    <table class="table table-striped">
  
      <tr th:each="login : ${user.logins}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${login.name}" /></dd>
            <dt>Birth Date</dt>
            <dd
              th:text="${#calendars.format(login.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Type</dt>
            <dd th:text="${login.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>group Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tr th:each="group : ${login.groups}">
              <td th:text="${#calendars.format(group.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${group?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{userId}/logins/{loginId}/edit(userId=${user.id},loginId=${login.id})}">Edit
                  Login</a></td>
              <td><a
                th:href="@{{userId}/logins/{loginId}/groups/new(userId=${user.id},loginId=${login.id})}">Add
                  Group</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
    -->
</div>
  </body>

</html>